@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin 'tailwind-scrollbar';
@import "tw-animate-css";

@theme {
  --breakpoint-xs: 30rem;
  /* Warna Descriptive */
  --color-dodger-blue: #3385FF;
  --color-columbia-blue: #8DDDFF;

  --color-nile-blue: #1B3C53;
  --color-blue-bayoux: #456882;

  --color-white: #FFFFFF;
  --color-porcelain: #EDF3F6;
  --color-silver-chalice: #AFAFAF;
  --color-ironside-grey: #666666;
  --color-smokey-grey: #747474;
  --color-cloud-burst: #2D2D51;
  --color-black: #000000;

  --color-parsley: #0D5125;
  --color-dark-green-blue: #1D5954;

  /* Semantic Palette */
  --color-primary: var(--color-nile-blue);
  --color-primary-foreground: var(--color-white);

  --color-accent: var(--color-dodger-blue);
  --color-accent-foreground: var(--color-white);

  --color-secondary: var(--color-blue-bayoux);
  --color-secondary-foreground: var(--color-white);

  /* Neutral Scale */
  --color-neutral-50: var(--color-porcelain);
  --color-neutral-100: var(--color-silver-chalice);
  --color-neutral-200: var(--color-ironside-grey);
  --color-neutral-300: var(--color-smokey-grey);
  --color-neutral-400: var(--color-cloud-burst);
  --color-neutral-950: var(--color-black);

  /* Base UI Tokens (shadcn) */
  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-neutral-950);

  --color-card: var(--color-neutral-50);
  --color-card-foreground: var(--color-neutral-950);

  --color-popover: var(--color-neutral-50);
  --color-popover-foreground: var(--color-neutral-950);

  --color-muted: var(--color-neutral-100);
  --color-muted-foreground: var(--color-neutral-300);

  --color-border: var(--color-neutral-100);
  --color-input: var(--color-neutral-100);
  --color-ring: var(--color-accent);

  /* Destructive (reuse only) */
  --color-destructive: var(--color-red-900);
  --color-destructive-foreground: var(--color-white);

  /* Radius */
  --radius: 0.625rem;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* Font Sizes */
  --text-3xs: 10px;
  --text-2xs: 12px;
  --text-xs: 14px;
  --text-sm: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 32px;
  --text-4xl: 36px;
  --text-5xl: 40px;
  --text-6xl: 48px;
  --text-7xl: 56px;
  --text-8xl: 64px;

  /* Headings: geometric / strong */
  --font-heading: "League Spartan", "Arial Black", "Segoe UI", sans-serif;

  /* Body: clean UI sans */
  --font-body: "Poppins", "Inter", "Segoe UI", system-ui, sans-serif;
}

.flip-card {
  background: linear-gradient(to right, #A6CFE1, #265A8C 50%, #456882, #1F445F, #1B3C53);
  background-size: 400% 100%;
  background-position: right;
}

.flip-card:hover {
  background-position: left;
  transition-duration: 900ms;
}

.list-upper-roman {
  list-style-type: upper-roman;
}

.list-lower-roman {
  list-style-type: lower-roman;
}

.list-upper-alpha {
  list-style-type: upper-alpha;
}

.list-lower-alpha {
  list-style-type: lower-alpha;
}

.glass::after {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;

  background:
    linear-gradient(120deg,
      rgba(255, 0, 0, 0.06),
      transparent 40%),
    linear-gradient(300deg,
      rgba(0, 255, 255, 0.06),
      transparent 40%);

  mix-blend-mode: screen;
  opacity: 0.7;
  filter: blur(2px);

  mask-image: radial-gradient(circle at center,
      transparent 55%,
      black 100%);
}

.scrollbar-lg::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-sm::-webkit-scrollbar {
  width: 4px;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html,
  body {
    @apply antialiased;
    font-family: var(--font-primary);
    color: var(--color-black);
    background-color: var(--color-porcelain);
    scroll-behavior: smooth;
  }
}

@layer utilities {

  .border-gradient-x,
  .border-gradient-y {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    border: 0px solid transparent;
    background-clip: padding-box, border-box;
  }

  .border-gradient-x::before,
  .border-gradient-y::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    z-index: 10;
    padding: 2px;
  }

  .border-gradient-x::before {
    background: linear-gradient(to right, #1B3C53, #456882);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .border-gradient-y::before {
    background: linear-gradient(to bottom,
        var(--gradient-start, #1B3C53),
        var(--gradient-end, #456882));

    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }


  @media (min-width: 768px) {

    .border-gradient-x::before,
    .border-gradient-y::before {
      padding: 4px;
    }
  }
}